<ion-view title="Japanese Helper">
    <ion-content class="padding">
        <div class="list card">
          <a class="item" ui-sref="one">one: object bindTo()</a>
          <a class="item" ui-sref="two">two: object bindTo() saving objects</a>
          <a class="item" ui-sref="three">three: object bindTo() long url</a>
          <a class="item" ui-sref="four">four: object $set</a>
          <a class="item" ui-sref="five">five: object $set and remove using child()</a>
          <a class="item" ui-sref="six">six: array save strings</a>
          <a class="item" ui-sref="seven">seven: array save objects and deletes</a>
          <a class="item" ui-sref="eight">eight</a>
          <a class="item" ui-sref="nine">nine</a>
          <a class="item" ui-sref="ten">ten</a>          
        </div>
    </ion-content>
</ion-view>
