<ion-view title="Japanese Helper">
    <ion-content class="padding">
        <div class="list card">
          <a class="item" ui-sref="1">one: object bindTo()</a>
          <a class="item" ui-sref="2">two: object bindTo() saving objects</a>
          <a class="item" ui-sref="3">three: object bindTo() long url</a>
          <a class="item" ui-sref="4">four: object $set</a>
          <a class="item" ui-sref="5">five: object $set and remove using child()</a>
          <a class="item" ui-sref="6">six: array save strings</a>
          <a class="item" ui-sref="7">seven: array save objects and deletes</a>
          <a class="item" ui-sref="8">eight: array updating</a>
          <a class="item" ui-sref="9">nine: object with embedded array -- ugly not recommended</a>
          <a class="item" ui-sref="10">ten: facebook login with security rules</a>
          <a class="item" ui-sref="11">11: save data to only a logged in user's area</a>
          <a class="item" ui-sref="12">12: </a>
          <a class="item" ui-sref="13">13: </a>
          <a class="item" ui-sref="14">14: </a>
          <a class="item" ui-sref="15">15: </a>              
        </div>
    </ion-content>
</ion-view>
