<ion-view title="Japanese Helper">
    <ion-content class="padding">
        <div class="list card">
          <a class="item" ui-sref="one">one: object bindTo()</a>
          <a class="item" ui-sref="two">two: object bindTo() saving objects</a>
          <a class="item" ui-sref="three">three: object bindTo() long url</a>
          <a class="item" ui-sref="four">four: object $set</a>
          <a class="item" ui-sref="five">five: object $set and remove using child()</a>
        </div>
    </ion-content>
</ion-view>
