<ion-view title="Japanese Helper">
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="data.a1"/>
        </label>
      </div>
      <div>
        <h1>You said: {{ data.a1 }}</h1>
      </div>
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="data.a2"/>
        </label>
      </div>
      <div>
        <h1>You said: {{ data.a2 }}</h1>
      </div>

    </ion-content>
</ion-view>
